<div class="container">
  <div class="col-12-lg">
    <div class="content">
      <div class="error">
        <header class="message">{{message}}</header>
        <p class="status">{{error.status}}</p>
        <pre>{{error.stack}}</pre>
      </div>
    </div>
  </div>
</div>
