<div class="jumbotron">
  <div class="container">
    <h1>Welcome to friendly</h1>
    <p>
      Friendly is a modern social network built for users.
    </p>
  </div>
</div>

<div class="container">
  <div class="col-12-lg">
    <form>
      <div class="form-group">
        <label for="signup-name">Name</label>
        <input type="text" class="form-control" id="signup-name" placeholder="Name" />
      </div>
      <div class="form-group">
        <label for="signup-email">Email address</label>
        <input type="email" class="form-control" id="signup-email" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="signup-email-confirm">Confirm Email address</label>
        <input type="email" class="form-control" id="signup-email-confirm" placeholder="Confirm Email" />
      </div>
      <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Signup</button>
    </form>
  </div>
</div>
